<!-- Fonction qui permet d'afficher la liste des tâches non affectée dans la liste déroulante -->
var element_liste = "";
<!-- Boucle dans la collections tâches -->
<% taches.forEach(function (element) { %>

    <% if(!element.affecte){%>
        element_liste += "<option id='<%= element._id%>' value='<%= element._id%>'><%= element.nom %></option>";
    <% } %>
<% }) %>

$(function(){
    $("#id_tache").html(element_liste);
})
