<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login - Admin</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center py-5">Connexion</h1>
    <section class="container">
        <% if(error){ %>
        <script>
            var error = true;
        </script>
        <% } %>
        <form action="/admin/login" method="post">
            <div class="form-group">
                <div class="col-md-8 offset-md-2">
                    <label for="">Nom d'utilisateur</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-user"></i></div>
                        </div>
                        <input class="form-control" type="text" id="username" name="username" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8 offset-md-2">
                    <label for="">Mot de passe</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-key"></i></div>
                        </div>
                        <input class="form-control" type="password" id="password" name="password" required>
                    </div>
                </div>
            </div>
            <div class="col-md-8 offset-md-2">
                <button type="submit" class="btn btn-primary">Connexion</button>
                <a href="/" class="btn btn-info bg-info">Retour accueil</a>
            </div>
        </form>
    </section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="javascripts/bootstrap-notify.js"></script>
    <script>
        if(error){
            $.notify({
                // options
                message: 'Erreur de mot de passe'
            },{
                // settings
                type: 'danger',
                placement: {
                    from: "top",
                    align: "center"
                }
            });
        }
    </script>
</body>
</html>